body {
  font-family: Arial, sans-serif;
  color: #fff;
  margin: 0;
  padding: 0;
  background-color: #071724;
}

header {
  text-align: center;
  color: #fff;
  padding: 1rem;
}

section {
  margin: 2rem;
}

.hobbys-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 15px;
  padding: 10px;
}

.hobbys-item {
  padding: 10px;
  background-color: #00314f;
  text-align: left;
  border-radius: 4px;
  flex: 1 1 calc(25% - 15px);
  box-sizing: border-box;
  padding: 20px;
  word-wrap: break-word;
}

#weatherExplanation {
  font-style: italic;
}
.svg-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.svg {
  margin-top: 20px;
  width: 90px;
  height: auto;
}

#APODexplanation {
  font-style: italic;
}

#apod-image {
  cursor: pointer;
  width: 300px;
  height: auto;
}

#projects {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

footer {
  text-align: center;
  padding: 1rem;
  color: #fff;
}

/*
Farbpalette (von dunkel nach hell):
071724
00314F
17709C
87A5C1
D6DAE6
https://de.pinterest.com/pin/664351382562261841/
*/
