/* Allgemein */
header {
  text-align: center;
  font-family: Arial, sans-serif;
  color: #0a192c;
  padding: 1rem;
  height: 20vh;
  background-image: url("Images/Bergkette.jpg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

@media (max-width: 1000px) {
  header {
    background-size: cover;
  }
}

body {
  font-family: Arial, sans-serif;
  color: #ffffff;
  margin: 0;
  padding: 0;
  background-color: #0a192c;
}

section {
  text-align: center;
  margin: 2rem;
}

footer {
  text-align: center;
  padding: 1rem;
  color: #ffffff;
}

/* Willkommen Section */
#willkommen {
  width: 50%;
  margin: 5px auto;
}

@media (max-width: 720px) {
  #willkommen {
    width: 90%;
  }
}

/* Werdegang Section */
.werdegang-container {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  padding: 10px;
  width: 100%;
}

@media (max-width: 1000px) {
  .werdegang-container {
    flex-direction: column;
  }
}

.werdegang-items {
  flex: 1;
  padding: 10px;
}

.werdegang-elements {
  background-color: #00314f;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.werdegang-content {
  text-align: left;
}

.logo {
  width: 150px;
  height: auto;
}

@media (max-width: 500px) {
  .werdegang-elements .logo {
    display: none;
  }
}

/* Skills Section */
.skill-container {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.skill-basic {
  display: inline-block;
  text-align: center;
  padding: 10px;
  border-radius: 4px;
  white-space: nowrap;
}

.skill-large {
  font-size: calc(35px * 0.8);
  height: 35px;
  background-color: #282828;
}

.skill-medium {
  font-size: calc(25px * 0.8);
  height: 25px;
  background-color: #414141;
}

.skill-small {
  font-size: calc(15px * 0.8);
  height: 15px;
  background-color: #656464;
}

/* Hobbys Section */
.hobbys-container {
  display: grid;
  grid-template-columns: repeat(4, minmax(310px, 1fr));
  gap: 15px;
  padding: 10px;
}

@media (max-width: 1350px) and (min-width: 720px) {
  .hobbys-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 720px) {
  .hobbys-container {
    grid-template-columns: 1fr;
  }
}

.hobbys-item {
  padding: 20px;
  background-color: #00314f;
  text-align: left;
  border-radius: 4px;
  box-sizing: border-box;
  word-wrap: break-word;
}

#weatherExplanation {
  font-style: italic;
}
.svg-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.svg-item {
  margin-top: 20px;
  width: 90px;
  height: auto;
}

#apodExplanation {
  font-style: italic;
}

#apodImage {
  cursor: pointer;
  max-width: 270px;
  height: auto;
}
